{% extends 'ajaxForm/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
{% endblock %}
  

{% block content %}
      <div class="alert alert-danger" id="alertErrors" hidden="true" role="alert"></div>
      <br>
      <form onsubmit="event.preventDefault();">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" id="name" name="name" placeholder="Enter name">
        </div>
        
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname">
        </div>
        
        <div class="form-group">
          <label for="nickname">Nickname</label>
          <input type="text" class="form-control" id="nickname" name="nickname" aria-describedby="nicknameHelp" placeholder="Enter nickname">
          <small id="nicknameHelp" class="form-text text-muted">The nickname is unique.</small>
        </div>

        <div class="form-group">
          <label for="birthDay">Bith Date</label>
          <input 
                type="text"
                class="form-control"
                id="birthDay"
                name="birthDay"
                placeholder="Select birth date"
                aria-describedby="birthDayHelp"
                data-provide="datepicker">
          <small id="birthDayHelp" class="form-text text-muted">The birth day is optional.</small>
        </div>

        <button type="submit" id="submit" class="btn btn-success">Create</button>
        <a href="{% url 'ajaxform:index' %}" class="btn btn-secondary">Back</a>
      </form>
{% endblock %}


{% block js %}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script>
      $('#submit').click(function (e){
        var alertErrors = $('#alertErrors');
        var submit = e.target;
        submit.disabled = true;

        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
        var name = $('#name').val();
        var surname = $('#surname').val();
        var nickname = $('#nickname').val();
        var birthDay = $('#birthDay').val();

        var data = new URLSearchParams();
        data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);
        data.append('name', name);
        data.append('surname', surname);
        data.append('nickname', nickname);
        data.append('birthDay', birthDay);

        axios({
        method: 'post',
        url: '{% url "ajaxform:create" %}',
        data: data,
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        headers: {
          'cache-control':  'no-cache',
          'content-type':   'application/x-www-form-urlencoded'
          }
        })
        .then(function (response) {
          if (response.status === 201) {
            alertErrors.attr('hidden', 'true');
            alert('Person successfully created!');
            window.location.replace('{% url "ajaxform:index" %}');
          }
        })
        .catch(function (error) {
          alertErrors.html('');
          var strError = '';
          var errors = JSON.parse(error.response.data);
          for (var err in errors) {

            for (var e in errors[err]) {
              strError += '<p>' + err + ': ' + errors[err][e] + '</p>';
            }
            
          }
          alertErrors.html(strError);
          alertErrors.removeAttr('hidden');
          submit.disabled = false;
        });

      });
    </script>
{% endblock %}
  